{% from 'macro/macro.html' import headBegin with context %}
{% from 'macro/macro.html' import headEnd with context %}
{% from 'macro/macro.html' import nav with context %}
{% from 'macro/macro.html' import footer with context %}
{% from 'macro/macro.html' import end with context %}

{{ headBegin() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="/static/js/password.js"></script>

    <title>Подготовка к ЕГЭ</title>
{{ headEnd() }}

{{ nav() }}

<div class="container">

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning mt-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <form class="mt-3" action="{{ url_for('reset_password') }}" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control-plaintext" id="email" aria-describedby="email" value="{{ email }}" disabled>
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Пароль</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="password1" name="password1" required>
                <span onclick="passwordRegistration('passwordEye', 'password')" class="input-group-text"><i
                        id="passwordEye1"
                        class="bi bi-eye-slash"></i></span>
            </div>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Повторите пароль</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="password2"

                      onkeyup="checkPassword('password', 'passwordFeedback')" name="password2" required>
                <span onclick="passwordRegistration('passwordEye', 'password')" class="input-group-text"><i
                        id="passwordEye2"
                        class="bi bi-eye-slash"></i></span>
                <div class="invalid-feedback" id="passwordFeedback" style="display: none;">
                    Пароли не совпадают
                </div>
            </div>
        </div>

        <input type="hidden" value="{{ email }}" name="email">
        <button type="submit" class="btn btn-primary mb-3">Изменить парол</button>

    </form>

</div>

{{ end() }}