{% from 'macro/macro.html' import headBegin with context %}
{% from 'macro/macro.html' import headEnd with context %}
{% from 'macro/macro.html' import nav with context %}
{% from 'macro/macro.html' import footer with context %}
{% from 'macro/macro.html' import end with context %}
{% from 'macro/macro.html' import mathjaxToShow with context %}


{{ headBegin() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="/static/js/addSolution.js"></script>
<script src="/static/js/fillTheme.js"></script>

<title>Подготовка к ЕГЭ</title>
{{ mathjaxToShow() }}
{{ headEnd() }}

{{ nav() }}

<div class="container">

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning mt-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <form class="mt-3" action="{{ url_for('add_solution') }}" method="POST" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="question_id" class="form-label">Идентификатор вопроса</label>
            {% if question_id %}
            <input type="text" class="form-control" id="question_id" value="{{ question_id }}" aria-describedby="question_id"
                   name="question_id">
            {% else %}
            <input type="text" class="form-control" id="question_id" aria-describedby="question_id"
                   name="question_id">
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <input type="text" class="form-control" id="description" aria-describedby="description"
                   name="description">
        </div>

        <div class="mb-3">
            <label for="text">Текст</label>
            <textarea class="form-control" rows="3" name="text"></textarea>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Файл с решением</label>
            <input class="form-control" type="file" id="formFile" name="solution_file">
        </div>

        <label for="formFile" class="form-label">Картинки</label>

        <div id="solutionImages" class="mb-3">

        </div>

        <div class="mb-3">
            <div style="display: flex; align-items: center">
                <input onchange="addImage('solutionImages')" class="form-control" type="file" id="inputForImage">
            </div>
        </div>

        <input type="hidden" value="0" id="maxImageCount" name="maxImageCount">

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary mb-3">Добавить решение</button>
        </div>
    </form>

</div>

{{ end() }}