{% from 'macro/macro.html' import headBegin with context %}
{% from 'macro/macro.html' import headEnd with context %}
{% from 'macro/macro.html' import nav with context %}
{% from 'macro/macro.html' import footer with context %}
{% from 'macro/macro.html' import end with context %}


{{ headBegin() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="/static/js/subject.js"></script>

<title>Авторизуйтесь</title>
{{ headEnd() }}

{{ nav() }}

<div class="container">
<h1>Для продолжения нужно войти.</h1>
</div>

{{ end() }}