{% from 'macro/macro.html' import headBegin with context %}
{% from 'macro/macro.html' import headEnd with context %}
{% from 'macro/macro.html' import nav with context %}
{% from 'macro/macro.html' import footer with context %}
{% from 'macro/macro.html' import end with context %}


{{ headBegin() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="/static/js/subject.js"></script>

<title>Внутрення ошибка</title>
{{ headEnd() }}

{{ nav() }}

<div class="container">
        <div class="alert alert-danger mt-3" role="alert">
            Произошла внутренняя ошибка. Приносим свои извенения.
        </div>
</div>

{{ end() }}