{% from 'macro/macro.html' import headBegin with context %}
{% from 'macro/macro.html' import headEnd with context %}
{% from 'macro/macro.html' import nav with context %}
{% from 'macro/macro.html' import footer with context %}
{% from 'macro/macro.html' import end with context %}
{% from 'macro/macro.html' import mathjaxToShow with context %}

{{ headBegin() }}
<title>Подготовка к ЕГЭ</title>
{{ mathjaxToShow() }}
{{ headEnd() }}

{{ nav() }}

<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning mt-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="mt-3 mb-3 d-flex  justify-content-around">
        <h2>{{ subject.name }}</h2>
        <h2>{{ test_type.name }}</h2>
    </div>

    {% for question in test.questions | sort(attribute='number') %}
        <form action="{{ url_for('change_question') }}" class="mt-3" method="POST">
            <div class="card mb-3">
                <h5 class="card-header">
                    {% for subject in subjects %}
                        {% if question.subject_id == subject.id %}
                            {{ subject.name }}.
                        {% endif %}
                    {% endfor %}
                    Задание
                    {{ question.number }}
                </h5>
                <div class="card-body">
                    <div>
                        <div class="mb-3">
                            <label class="form-label">Текст:</label>
                            <div id="textTextAreaResult{{ question.id }}">
                                {{ question.text }}
                            </div>
                        </div>


                        <div class="mb-3">
                            <label class="form-label">Ответ:</label>
                            <div id="textTextAreaResultAnswer{{ question.id }}">
                                {{ question.answer }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {% for image in question.images %}
                                <img src="{{ url_for('static', filename= "image/uploads/" + image.source) }}"
                                     class="rounded mx-auto d-block mb-3" id="questionImage1"
                                     style="max-width: 100%; max-height: 300px; min-height: 200px;">
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>
        </form>
    {% endfor %}

</div>

{{ end() }}