{% from 'macro/macro.html' import headBegin with context %}
{% from 'macro/macro.html' import headEnd with context %}
{% from 'macro/macro.html' import nav with context %}
{% from 'macro/macro.html' import footer with context %}
{% from 'macro/macro.html' import end with context %}

{{ headBegin() }}
    <title>Подготовка к ЕГЭ</title>
{{ headEnd() }}

{{ nav() }}

<div class="container">

  <h1>Правила использования</h1>
    <div><h2>1.</h2> Готовиться к ЕГЭ</div>
   <div> <h2>2.</h2> Не нарушать первое правило</div>

</div>

{{ end() }}