{% from 'macro/macro.html' import headBegin with context %}
{% from 'macro/macro.html' import headEnd with context %}
{% from 'macro/macro.html' import nav with context %}
{% from 'macro/macro.html' import footer with context %}
{% from 'macro/macro.html' import end with context %}
{% from 'macro/macro.html' import mathjax with context %}

{{ headBegin() }}
<title>Подготовка к ЕГЭ</title>
{{ mathjax() }}
{{ headEnd() }}

{{ nav() }}


<p class="container">
    <h1 class="text-center"><font size="30" color="e3000e" face="Arial Black"><em>Easy Exam  </em></font><img src="/static/image/email/Atom.png" width="100" height="100"></h1>
<p><img src="/static/image/email/pozitiv1.png" align="left" width="250" height="200" /></p>
        <p style="margin-left: 400px"> <font size="5" color="#a52a2a" face="Arial Black"><strong>Почему же ученики получают  низкие баллы на ЕГЭ?</strong></font>
            <img src="/static/image/email/negativ1.png" align="right" width="200" height="200" /></p>

          <p>  <ul type="none" style="margin-left: 400px">
                <li>❌Некачественные материалы для теории</li>
                <li>❌Неактуальные задания</li>
                <li>❌Частая самопроверка и отсутсвие компетентной оценки</li>
                <li>❌Отсутвие мотивации</li>
            </ul>
         </p>

<p style="margin-left: 400px"><font size="5" color="#ff6600" face="Arial Black"><strong>Как сдать экзамены легко и получить высокий результат?</strong></font></p>
<img src="/static/image/email/pozitiv.png" align="left" width="250" height="250" />
<img src="/static/image/email/позитив.png" align="right" width="300" height="200" />
           <p style="margin-left: 400px"> <br> ✅ Вся необходимая теория должна находиться в одном месте</br>
            <br > ✅ Все тренировочные задания должны быть направлены на ЕГЭ и сохранять формат экзамена</br>
            <br > ✅ Необходимо дать ученикам возможность получения реальной оценки от преподавтелей</br>
            <br> ✅ Необходимо дать ученикам возможность получения баллов за проделанную работу и возможность сравнить свои результаты с другими учениками</br>
        </p>
<p style="margin-left: 400px"> <font size="5" color="e3000e" face="Arial Black">Хочешь получить 💯 на ЕГЭ? Тогда присоединяйся к Easy Exam!  </font></p>
<p style="margin-left: 400px"><font size="3">⚠ Но помни, что твой результат зависит только от твоей работы!</font> </p>
<p style="margin-left: 400px"><font size="3"  face="Arial Black">🎓 Человек, никогда не совершавший ошибок, никогда не пробовал ничего нового Ⓒ Альберт Эйнштейн</font></p>
</p>
</div>

{{ end() }}
